:root {
  --blue: rgb(3, 8, 14);
  --white: rgb(236, 236, 236);
}

body {
  font-family: "Ubuntu", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  --background-color: var(--white);
  --text-color: var(--blue);
  --font-weight: 400;
}

body.dark {
  --background-color: var(--blue);
  --text-color: var(--white);
  --font-weight: 500;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.con {
  background-color: #f2f2f2;
  margin-left: 100px;
}
.cardLogin {
  padding: 50px;

  max-width: 500px;
  margin: 20px auto;
  height: auto;
}

.btnf {
  background-color: #3b5998;
  width: 300px;
}
.btng {
  background-color: #db4437;
  width: 300px;
}
.btnt {
  background-color: #1da1f2;
  width: 300px;
}
/* .sha {
  color: var(--background-color);
  background: var(--text-color);
} */
.drop {
  width: 200px;
  color: white;
  box-shadow: #f2f2f2;
}

.dropdown-submenu {
  position: relative;
}
.card1 {
  /* color: var(--background-color); */
  padding: 15px;
  /* background: rgb(246, 245, 245); */
  max-width: 800px;
  /* border-radius: 10px; */
  margin: 20px auto;
  height: auto;
}
.card11 {
  padding: 15px;
  /* background: rgb(246, 245, 245); */
  max-width: 800px;
  /* border-radius: 10px; */
  margin: 20px auto;
  height: auto;
  border: 2px solid rgb(14, 12, 12);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-toggler {
  color: var(--background-color);
}
.nav-link {
  text-decoration: none;
  /* text-transform: uppercase; */
  color: var(--background-color);
}
.cardnav {
  background: var(--text-color);
  max-width: auto;
  height: auto;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card10 {
  padding: 15px;
  /* background: rgb(246, 245, 245); */
  max-width: auto;
  margin: 20px auto;
  height: auto;
}
.card3 {
  padding: 15px;
  /* background: rgb(246, 245, 245); */
  max-width: 800px;
  margin: 20px auto;
  max-height: 280px;
}
.card5 {
  padding: 15px;
  max-width: auto;
  margin: 20px auto;
  max-height: auto;
}
.card2 {
  padding: 15px;
  max-width: 900px;
  margin: 20px auto;
  height: auto;
}
/* .btnlog {
  max-width: 500px;
  background-color: orange;
  padding-left: 20px;
} */
/* .btnlog:hover{
  background-color:rgb(189, 133, 28) ;
} */
input:focus {
  width: 100%;
}
.block {
  background: #f2f5c8;
}

.h3 {
  font-family: "Roboto, sans-serif";
}

.cardl {
  padding: 35px;
  background: white;
  max-width: 450px;
  margin: 20px auto;
  height: 150px;
  border: 2px solid rgb(22, 21, 21);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardll {
  padding: 35px;
  background: white;
  max-width: 520px;
  margin: 20px auto;
  height: auto;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.card7 {
  padding: 20px 20px 20px 20px;
  max-width: 500px;
  margin: 20px auto;
  height: auto;
}
.card4 {
  padding: 0px 100px 100px 100px;
  /* background: rgb(246, 245, 245); */
  max-width: 1300px;
  /* border-radius: 10px; */
  margin: 20px auto;
  height: auto;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.graph {
  height: 600px;
  width: 310px;
}
.trashButton {
  padding: 20px;
  border-radius: 50%;
  background: transparent;
  border: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.modelstyle {
  width: 800px !important;
}

.cardfooter {
  padding: 20px;
  margin-top: 60px;
  height: 90px;
  background: var(--text-color);
}
/* :root {
  --background-color: white;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dashtable {
  width: 1000px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .card10 {
    padding: 15px;
    /* background: rgb(246, 245, 245); */
    max-width: 600px;
    /* border-radius: 10px; */
    margin: 20px auto;
    height: auto;
  }
}
@media only screen and (min-device-width: 360px) and (max-device-width: 374px) {
  .card10 {
    padding: 15px;
    /* background: rgb(246, 245, 245); */
    max-width: 360px;
    /* border-radius: 10px; */
    margin: 20px auto;
    height: auto;
  }
}
@media only screen and (min-device-width: 912px) and (max-device-width: 915px) {
  .cen {
    margin-left: 200px;
  }
  .card10 {
    padding: 15px;
    /* background: rgb(246, 245, 245); */
    max-width: 900px;
    /* border-radius: 10px; */
    margin: 20px auto;
    height: auto;
  }
}

@media only screen and (min-device-width: 667px) and (max-device-width: 669px) {
  .cen {
    margin-left: 100px;
  }
}
@media only screen and (min-device-width: 390px) and (max-device-width: 450px) {
  .cen {
    margin-left: 30px;
  }
  .card10 {
    padding: 15px;
    /* background: rgb(246, 245, 245); */
    max-width: 390px;
    /* border-radius: 10px; */
    margin: 20px auto;
    height: auto;
  }
}
@media only screen and (min-device-width: 540px) and (max-device-width: 560px) {
  .cen {
    margin-left: 100px;
  }
  .card10 {
    padding: 15px;
    /* background: rgb(246, 245, 245); */
    max-width: 540px;
    /* border-radius: 10px; */
    margin: 20px auto;
    height: auto;
  }
}
@media only screen and (min-device-width: 767px) and (max-device-width: 414px) {
  .cen {
    margin-left: 100px;
  }
  .card10 {
    padding: 15px;
    /* background: rgb(246, 245, 245); */
    max-width: 440px;
    /* border-radius: 10px; */
    margin: 20px auto;
    height: auto;
  }
}
.onHide {
  display: none;
  /* color: #db4437;
  background-color: #282c34; */
}
